.instagram{

  .header{
    padding-left: 13%;
    padding-bottom: 25px;
    display: inline-block;

    img {
      margin: 3px;
      width: 35px;
      height: auto;
    }

    span{
      color: #888;
      padding-left: 15px;
    }
  }

  .instagramContainer{
    img {
      padding-left: 0;
      padding-right: 5px;
      margin: 5px;
    }
  }

}
