@import "../../../theme/variables.scss";

.resetpass{
  font-size: 85%;

  h1{
    margin: 0 0 20px;
    text-align: center;
    border: none;
    font-size: 1.125rem;
    text-transform: uppercase;
    line-height: 24px;
  }
  p{
    margin: 0;
    padding: 0 0 28px;
    text-align: center;
    color: $font-color;
  }
  .formContainer {
    padding: 0 9%;
    min-height: 300px;
    margin: 0;
    border: none;
  }
  .form{
    label{
      color: $font-color;
      text-align: center;
      letter-spacing: 0;
      text-transform: none;
      margin-bottom: 4px;
      line-height: 1.4;
      padding-bottom: 0;
    }
    input{
      border-style: solid;
      border-width: 1px;
      border-color: #aaa;
      box-shadow: none;
      display: block;
      font-size: .6875rem;
      margin: 0 0 1rem;
      padding: .5rem;
      height: 2.125rem;
      margin: 0 0 1rem;
      padding: .5rem;
      width: 100%;
      box-sizing: border-box;
    }
    button{
      min-height: 44px;
      margin-left: 0;
      width: 100%;
      background-color: #222;
      cursor: pointer;
      display: block;
      font-weight: 700;
      margin: 0;
      text-decoration: none;
      border: 1px solid #222;
      transition: none;
      border-radius: 0;
    }
    button:hover{
      background: #fff;
      color: #222;
      border: 1px solid #222;
    }
    p{
      width: 100%;
    }
  }
}
