.card {

  .col-md-6 {
    background-color: blue;
    padding-top: 5%;
  }
  .imgBlock {
    padding-bottom: 2%;

    img{
      padding-left: 5px;
      margin: 0;
      width: 150px;
      height: auto;
    }
    img:hover{
      cursor: pointer;
      transform: scale(1.1);
    }

  }

  .productBlock {
    span{
      font-weight: bold;
    }

  }

  .form{
    display: block;
    .form-group{
      padding-right: 5px;
    }

    .quantity{
      select{
        cursor: pointer;
        border-radius: 0;
        font-size: .6875rem;
        line-height: 1em;
        margin: 0 30px 0 0;
        color: #555;
        font-weight: 500;
      }
    }

    .button{
      padding-left: 5px;
      p {
        color: white;
        background-color: #222;
        cursor: pointer;
        display: block;
        font-weight: 700;
        margin: 0;
        text-decoration: none;
        border: 1px solid #222;
        transition: none;
      }
    }
  }

  .details{
    span{
      font-weight: bold;
    }
  }

}

/* Mobile & Tablet @media imports - starts */
// iPhone 4
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

}
// iPhone 5 & 5S
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

}
// iPhone 6 & 6S
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

}
// iPhone 6plus
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {

}
// Tablets
@media only screen and (min-device-width: 736px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

}
// Tablets - iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {

}
/* Mobile & Tablet @media imports - ends */
